@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}


$themeArr: (
    "theme1": (
        "color": green,
        "background": red,
    ),
    "theme2": (
        "color": orange,
        "background": blue,
    ),
    "theme3": (
        "color": pink,
        "background": #000000,
    ),
);

@mixin setThemes($keyStyle:"color",$themes:$themeArr) {
    @each $theme,$map in $themes {
        .body-theme-#{$theme} & {
            #{$keyStyle}:map-get($map,$keyStyle);
            @content;
        }
    }
}

// p{
//     font-size: 20px;
//     line-height: 20px;
//     @include setThemes('color'){
//         font-size: 30px;
//     };
//     @include setThemes('background')
// }
.testPage{
    @include setThemes();
    @include setThemes("background");
    font-size: 30px;
}


