@font-face {
    font-family: 'iconfont-hsyt';  /* project id 1352162 */
    src: url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.eot');
    src: url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.woff') format('woff'),
    url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1352162_fe9sur5pb2i.svg#iconfont-hsyt') format('svg');
  }

.icon-hsyt{
    font-family: "iconfont-hsyt";
}